body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.Header {
  background-image: linear-gradient(rgb(56, 56, 156), rgb(45, 45, 115));
  padding: 10px;
  box-shadow: 10px 8px 10px rgba(4, 4, 4, 0.3);
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header a {
  text-decoration: none;
  color: black;
}

.logohead {
  display: flex;
  align-items: center;
}

.logohead img.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.navbar div {
  background-color: rgb(188, 184, 203);
  padding: 5px;
  border-radius: 5px;
  margin: 4px;
}

.navbar div:hover {
  background-color: rgb(117, 117, 137);
}

.navbar {
  display: flex;
}

.container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

.form-group {
  margin: 20px;
}

label,
input {
  width: 100%;
  margin-bottom: 10px;
}

button {
  width: 100%;
  background-color: #3522b1;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #323bbb;
}

.Header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.footer{
  background-image:linear-gradient(to top,rgb(56, 56, 156),rgb(45, 45, 115));
  width:auto;
  height:auto;
  padding:10px;
  box-shadow: 10px 10px 10px 10px black;
}
.About{
  display:flex;
  flex-direction: column;
}
.About div{
  margin:2px;
}
.footer  a{
  color:black;
}

.footer a:hover{
 color:rgb(46, 179, 212);
}

.social{
  display:flex;
  justify-content:right;
  flex-direction:column;
}

.footer-align{
  display:flex;
  justify-content: space-between;
  margin: 0px 40px;
}

.social div{
  margin:2px;
}